/* @font-face {
  font-family: 'Paperlogy';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff') format('woff');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff') format('woff');
}
 @font-face {
  font-family: 'Paperlogy';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Paperlogy';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff') format('woff');
} */

/* light */
@font-face {
  font-family: 'Paperlogy';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff')
      format('woff');
}
/* regular */
@font-face {
  font-family: 'Paperlogy';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff')
      format('woff');
}
/* medium */
@font-face {
  font-family: 'Paperlogy';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff')
      format('woff');
}

/* bold */
@font-face {
  font-family: 'Paperlogy';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff')
      format('woff');
}

body {
  font-family: 'Paperlogy', sans-serif;
}

@layer components {
  /* text-bold */
  .tb1 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[24px] font-bold md:text-[30px];
  }
  .tb2 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[18px] font-bold md:text-[20px];
  }
  .tb3 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[16px] font-bold md:text-[18px];
  }
  .tb4 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[14px] font-bold md:text-[16px];
  }
  .tb5 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[12px] font-bold md:text-[14px];
  }
  .tb6 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[10px] font-bold md:text-[12px];
  }
  .tb7 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[10px] font-bold md:text-[10px];
  }

  /* text-medium */
  .tm1 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[18px] font-medium md:text-[20px];
  }
  .tm2 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[16px] font-medium md:text-[18px];
  }
  .tm3 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[14px] font-medium md:text-[16px];
  }
  .tm4 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[12px] font-medium md:text-[14px];
  }
  .tm5 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[10px] font-medium md:text-[12px];
  }
  .tm6 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[10px] font-medium md:text-[10px];
  }

  /* text (normal) */
  .t1 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[18px] font-normal md:text-[20px];
  }
  .t2 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[16px] font-normal md:text-[18px];
  }
  .t3 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[14px] font-normal md:text-[16px];
  }
  .t4 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[12px] font-normal md:text-[14px];
  }
  .t5 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[10px] font-normal md:text-[12px];
  }
  .t6 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[10px] font-normal md:text-[10px];
  }

  /* text-light */
  .tl1 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[18px] font-light md:text-[20px];
  }
  .tl2 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[16px] font-light md:text-[18px];
  }
  .tl3 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[14px] font-light md:text-[16px];
  }
  .tl4 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[12px] font-light md:text-[14px];
  }
  .tl5 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[10px] font-light md:text-[12px];
  }
  .tl6 {
    font-family: 'Paperlogy', sans-serif;
    @apply text-[10px] font-light md:text-[10px];
  }
}

/* Toast UI용 폰트 */
.tm3 .toastui-editor-contents {
  @apply text-[12px] lg:text-[14px] font-medium;
  font-family: 'Paperlogy', sans-serif !important;
  line-height: 1.5;
  color: #111111;
}
