@import 'tailwindcss';
@import './font.css';

@theme {
  /* Gray Scale */
  --color-black: #000000;
  --color-gray1: #444444;
  --color-gray2: #333333;
  --color-gray3: #b7b7b7;
  --color-gray4: #f5f5f5;
  --color-gray5: #808080;
  --color-white: #ffffff;

  /* Logo Colors */
  --color-logo1: #90cff1;
  --color-logo2: #fbae8f;
  --color-logo3: #353435;

  /* Border Colors */
  --color-border1: #e7e7e7;
  --color-border2: #cfcfcf;
  --color-border3: #b8b8b8;

  /* Colors */
  --color-red: #ff5955;
  --color-green: #00c471;
  --color-blue: #2d90ff;
  --color-orange: #ff7a21;
  --color-yellow: #fdb900;

  /* Text Color */
  --color-text1: #111111;

  /* Button Colors */
  --color-main: #111111;
}
:root {
  --toastify-color-success: #90cff1; /* 성공 알림 색상 */
  --toastify-color-error: #fbae8f; /* 에러 알림 색상 */
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}

html,
body {
  @apply bg-white transition-colors duration-300;
}

@layer utilities {
  /* 버튼 */
  .button-modal1 {
    @apply bg-main inline-flex h-10 lg:h-12 w-full items-center justify-center rounded-md text-center text-sm leading-4 text-white md:text-base;
  }
  .button-modal1:hover {
    @apply bg-[#292929] transition-colors duration-300;
  }
  .button-modal1:disabled {
    @apply bg-[#c9c9c9] transition-colors duration-300;
  }

  .button-type1 {
    @apply bg-main inline-flex w-full items-center justify-center rounded-[10px] text-white text-sm md:text-base;
  }
  .button-type1:hover {
    @apply bg-[#292929] transition-colors duration-300;
  }
  .button-type1:disabled {
    @apply bg-[#c9c9c9] transition-colors duration-300;
  }

  .button-type2 {
    @apply bg-main inline-flex h-8 lg:h-12 min-w-[100px] lg:min-w-[118px] items-center justify-center rounded-[6px] lg:rounded-[10px] px-4 text-center text-xs md:text-sm leading-5 text-white lg:text-base;
  }
  .button-type2:hover {
    @apply bg-[#292929] transition-colors duration-300;
  }
  .button-type2:disabled {
    @apply bg-[#c9c9c9] transition-colors duration-300;
  }

  .button-type3 {
    @apply bg-main inline-flex h-12 min-w-[235px] items-center justify-center rounded-[10px] px-4 text-center text-sm text-white md:text-base;
  }
  .button-type3:hover {
    @apply bg-[#292929] transition-colors duration-300;
  }
  .button-type3:disabled {
    @apply bg-[#c9c9c9] transition-colors duration-300;
  }

  .button-type4 {
    @apply bg-main inline-flex h-11 w-[118px] items-center justify-center rounded-[10px] text-center text-sm text-white md:text-[15px];
  }
  .button-type4:hover {
    @apply bg-[#292929] transition-colors duration-300;
  }
  .button-type4:disabled {
    @apply bg-[#c9c9c9] transition-colors duration-300;
  }

  .button-type5 {
    @apply bg-main inline-flex h-11 w-[100px] items-center justify-center rounded-md text-center text-xs text-white md:text-sm;
  }
  .button-type5:hover {
    @apply bg-[#292929] transition-colors duration-300;
  }
  .button-type5:disabled {
    @apply bg-[#c9c9c9] transition-colors duration-300;
  }

  .button-type6 {
    @apply border-main bg-white text-main inline-flex h-11 w-[100px] items-center justify-center rounded-md border text-center text-xs md:text-sm;
  }
  .button-type6:hover {
    @apply bg-[#f5f5f5] transition-colors duration-300;
  }
  .button-type6:disabled {
    @apply bg-[#c9c9c9] border-[#c9c9c9] text-white transition-colors duration-300;
  }

  .button-type7 {
    @apply bg-main inline-flex h-10 lg:h-15 w-[100px] items-center justify-center rounded-[10px] text-center text-xs text-white md:text-sm;
  }
  .button-type7:disabled {
    @apply bg-[#c9c9c9] transition-colors duration-300;
  }
  .button-sm-type1 {
    @apply bg-main inline-flex h-8 items-center justify-center lg:rounded-[10px] rounded-[4px] px-4 py-1.5 lg:py-2 text-center text-xs text-white md:text-sm;
  }
  .button-sm-type1:hover {
    @apply bg-[#292929] transition-colors duration-300;
  }
  .button-sm-type1:disabled {
    @apply bg-[#c9c9c9] transition-colors duration-300;
  }
  .button-sm-type1.mobile1 {
    @apply h-auto px-3 lg:h-8 lg:px-4 lg:py-1.5;
  }

  /* 태그 */
  .tag-type1 {
    @apply text-blue inline-flex h-[20px] lg:h-[22px] min-w-[42px] items-center justify-center rounded-3xl bg-[#efefef] px-3 py-1 text-center text-[10px] md:text-[13px];
  }

  .tag-type2 {
    @apply bg-gray1 inline-flex h-5 min-w-[72px] items-center justify-center rounded-3xl text-center text-xs text-white leading-none;
  }
  .tag-type2.green {
    @apply bg-green;
  }

  .tag-type3 {
    @apply bg-gray2 inline-flex h-[22px] min-w-[57px] items-center justify-center rounded-3xl text-xs text-white md:text-sm font-bold;
  }
  .tag-type3.red {
    @apply bg-red;
  }

  .tag-type3.mobile1 {
    @apply h-[18px] min-w-[40px] text-[10px] lg:h-[22px] lg:min-w-[57px] lg:text-xs;
  }

  .tag-type4 {
    @apply bg-gray3 inline-flex h-5 min-w-[72px] items-center justify-center rounded-3xl text-[11px] text-white md:text-[13px];
  }
  .tag-type4.red {
    @apply bg-red;
  }
  .tag-type4.blue {
    @apply bg-blue;
  }

  .tag-type5 {
    @apply border-text1 text-text1 inline-flex h-5 min-w-[96px] items-center justify-center rounded-3xl border bg-white text-[10px] md:text-xs;
  }

  /* input */
  .input-type1 {
    @apply border-border1 text-text1 h-[40px] lg:h-[45px] lg:rounded-[10px] rounded-[6px] border px-4 lg:px-5 text-xs md:text-sm;
  }
  .input-type2 {
    @apply border-border1 text-text1 h-8 lg:h-10 rounded-md border px-3 lg:px-4 text-xs md:text-sm;
  }
  .input-type3 {
    @apply w-full block box-border border border-border2 text-text1 rounded-[10px] px-5 text-xs md:text-sm;
  }

  /* input date */
  input[type='date'].date-custom::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  input[type='time'].date-custom::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

/* 토스트 메시지 */
.toast-paperlogy {
  font-family: 'Paperlogy', sans-serif;
}

/* 스크롤 */
.scroll-custom::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background: #939393;
}
.scroll-custom-4::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
.scroll-custom-4::-webkit-scrollbar-thumb {
  background: #939393;
}

/* 도장 */
@keyframes stamp {
  0% {
    transform: scale(2) rotate(-15deg);
    opacity: 0;
  }
  70% {
    transform: scale(0.95) rotate(2deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

.animate-stamp {
  animation: stamp 0.4s ease-out forwards;
}

/* 로그인 */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff7a21;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  */
